{#   # STEP 3#}

{% if selected.children is empty %}
{# ###Solutions page #}
<div class="summary__wrap">

{% if summary is not empty %}

  <div class="summary__progress-bar">

    {% for xx in summary %}

      <div class="progress-step">

        <div class="item highlighted-{{ loop.index }}">

          <div class="description">

            {{ xx.value|raw }}

          </div>

          <div class="step-count"></div>

          <div class="step-description"></div>

        </div>

      </div>

    {% endfor %}

    </div>

    {% endif %}

</div>

{# modal with a button #}
{% if selected.children is empty %}

  <div class="summary-wrap">

    <button type="button" class="btn-summary" data-toggle="modal" data-target="#myModal">Show summary

      <div class="btn-summary-arrow"></div>

    </button>

  </div>

{% endif %}

{# modal #}
  <div class="modal fade" id="myModal" role="dialog">

    <div class="modal-dialog">

      {# modal content #}
      <div class="modal-content">

        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal">&times;</button>

          <h4 class="modal-title">Your summary</h4>

        </div>

        <div class="modal-body">

          <div class="summary">

            {% for xx in summary %}

              <div class="summary__row">

                <div class="category"> {{ xx.label|convert_encoding('ISO-8859-1', 'HTML-ENTITIES') }} </div>
                <div class="subtitle"> {{ xx.value|convert_encoding('ISO-8859-1', 'HTML-ENTITIES') }} </div>

              </div>

            {% endfor %}

          </div>

        <div class="modal-footer">

          <button type="button" class="btn btn-default" data-dismiss="modal">Close summary
          <div class="btn-summary-arrow"></div>
          </button>

        </div>

      </div>

    </div>

  </div>

</div>

{# continue description btn #}
<div class="cp-buttons mobile-view">

   {% for data in selected.button %}

 {% if data.description %}

  <div class="{{ data.type }}">

      <div class="desc-text">

        {{ data.description|raw }}

      </div>

    <a href="{{ data.url }}">

    {{ data.text }}

    </a>

  </div>
  {% endif %}

  {% endfor %}


</div>

{# end modal #}

<div class="cerebral-palsy-tool-main step-two">

  <div class="wrapper">

      {# {% if title %}

        <h2 class="cerebral_palsy-tool__h1"{{ title_attributes.addClass('page-header') }}>HELLO{{ title }}</h2>

      {% else %}

        <h2 class="cerebral_palsy-tool__h1">{{ selected.title }}</h2>

      {% endif %} #}

    <div class="cerebral-palsy-tool-main__wrapper">

      {% for child in selected.children %}

        <div class="btn-standard">

          <label class="radio">

            <span class="radio__input">

              <input type="radio" class="radio-btn" name="radio" value="{{ child.name }}" data-link="{{ child.alias }}" data-targeting="{{ child.id }}" />

              <span class="radio__control"></span>

            </span>

            <span class="radio__label">{{ child.name }}

              <br>

              <div class="radio__label-descripton">{{  child.description|raw }}</div>

            </span>

          </label>

        </div>

      {% endfor %}

    </div>

  </div>

</div>
{# Card #}
{% for data in selected.card %}

<div class="cp_content_block__wrapper ">

  {% if data.image is not empty %}

    <img class="cp_content-image" src="{{ data.image }}">

  {% endif %}

  <div class="cp_content-title">

    {{ data.title }}

  </div>

  <div class="cp_content-desc">

    {{ data.description|raw }}

  </div>

</div>
{% endfor %}

{# Conditional Card #}
{% if selected.children is not empty %}

  {% for ccard in selected.children %}

    {% for card in ccard.conditional_card %}

      <div class="conditional-card-descri-main">

        <div class="cp_content_block__wrapper conditional-card-description radio-description-{{ card.id }} ">

          {% if card.image is not empty %}

            <img class="cp_content-image" src="{{ card.image }}">

          {% endif %}

          <div class="cp_content-title">

            {{ card.title }}

          </div>

          <div class="cp_content-desc">

            {{ card.description|raw }}

          </div>

        </div>

      </div>

    {% endfor %}

  {% endfor %}

{% endif %}

{# Product #}
{# ------------------- MOBILE PRODUCT ---------------- #}

<div class="product-mobile-view">

<div class="cerebral-palsy-tool-main__solution">

{% if selected.title is not empty %}

    <h2 class="cerebral_palsy-tool__h1">{{ selected.title }}</h2>

  {% endif %}

{% if selected.product_image is not empty %}

  <div class="cerebral-palsy-tool-main__solution-image">

    <img src="{{ selected.product_image }}">

  </div>

{% endif %}

</div>
<div class="title-size-wrapper">

  {% if selected.recommendation_title is not empty %}

    <div class="cerebral-palsy-tool-main__solution-title">

      {{ selected.recommendation_title }}

    </div>

    {% endif %}

    {% if selected.recommendation_size is not empty %}

    <div class="cerebral-palsy-tool-main__solution-size">

      {{ selected.recommendation_size }}

    </div>

    {% endif %}

  </div>

  {% if selected.recommendation_description is not empty %}

  <div class="cerebral-palsy-tool-main__solution-description">

    {{ selected.recommendation_description|raw }}

  </div>

  {% endif %}

  {# Product icon #}
  <div class="cerebral-palsy-tool-main__solution-iconwrap">

    {% for data in selected.intake_icon %}

    <div class="{{ data.intake_icon_key }}">

    <div class="icon">

      {{ data.intake_icon }}

    </div>

    <div class="percentage">

      {{ data.percentage_icon }}

    </div>

    </div>

    {% endfor %}

  </div>

{# More Info #}

<div class="more-info-wrapper">

  {% for data in selected.more_info %}

  <div class="more-info-wrapper__set">

    <div class="{{ data.icon }}"></div>

    <div class="more-info-wrapper__text">

    <div class="more-info-wrapper__title">

     {{ data.title }}

    </div>

    <div class="more-info-wrapper__desc">

      {{ data.description|raw }}

    </div>
    </div>

    </div>

  {% endfor %}

</div>


{# Continue btn #}
{% if selected.children is not empty %}

  <div class="btn-continue">
    <a>Next</a>
  </div>

{% endif %}

{# Button #}
<div class="cp-buttons">

  {% for data in selected.button %}

  {% if data.description %}

      <div class="none">

        <div class="{{ data.type }}">

    <a href="{{ data.url }}">

    {{ data.text }}

    </a>

  </div>

      </div>
{% else %}
  <div class="{{ data.type }}">

    <a href="{{ data.url }}">

    {{ data.text }}

    </a>

  </div>

    {% endif %}

  {% endfor %}

</div>

</div>

{# ------------------- DESKTOP PRODUCT ---------------- #}
<div class="product-desktop-view">

<div class="cerebral-palsy-tool-main__solution">

{% if selected.product_image is not empty %}

  <div class="cerebral-palsy-tool-main__solution-image">

    <img src="{{ selected.product_image }}">

  </div>

{% endif %}

  {# <div class="title-size-wrapper">

  {% if selected.recommendation_title is not empty %}

    <div class="cerebral-palsy-tool-main__solution-title">

      {{ selected.recommendation_title }}

    </div>

    {% endif %}

    {% if selected.recommendation_size is not empty %}

    <div class="cerebral-palsy-tool-main__solution-size">

      {{ selected.recommendation_size }}

    </div>

    {% endif %}

  </div>   #}

  {# {% if selected.recommendation_description is not empty %}

  <div class="cerebral-palsy-tool-main__solution-description">

    {{ selected.recommendation_description }}

  </div>

  {% endif %} #}

  {# Product icon #}
  <div class="cerebral-palsy-tool-main__solution-iconwrap">

    {% for data in selected.intake_icon %}

    <div class="{{ data.intake_icon_key }}">

    <div class="icon">

      {{ data.intake_icon }}

    </div>

    <div class="percentage">

      {{ data.percentage_icon }}

    </div>

    </div>

    {% endfor %}

  </div>

</div>

{# More Info #}
<div class="desktop-wrap-more-info">

<div class="more-info-wrapper">

{% if selected.title is not empty %}

    <h2 class="cerebral_palsy-tool__h1">{{ selected.title }}</h2>

  {% endif %}

  <div class="title-size-wrapper">

  {% if selected.recommendation_title is not empty %}

    <div class="cerebral-palsy-tool-main__solution-title">

      {{ selected.recommendation_title }}

    </div>

    {% endif %}

    {% if selected.recommendation_size is not empty %}

    <div class="cerebral-palsy-tool-main__solution-size">

      {{ selected.recommendation_size }}

    </div>

    {% endif %}

  </div>

  {% if selected.recommendation_description is not empty %}

  <div class="cerebral-palsy-tool-main__solution-description">

    {{ selected.recommendation_description|raw }}

  </div>

  {% endif %}

  {% for data in selected.more_info %}

  <div class="more-info-wrapper__set">

    <div class="{{ data.icon }}"></div>

    <div class="more-info-wrapper__text">

    <div class="more-info-wrapper__title">

     {{ data.title }}

    </div>

    <div class="more-info-wrapper__desc">

      {{ data.description|raw }}

    </div>
    </div>

    </div>

  {% endfor %}

</div>


{# Continue btn #}
{% if selected.children is not empty %}

  <div class="btn-continue">
    <a>Next</a>
  </div>

{% endif %}

{# Button #}
<div class="cp-buttons">

  {% for data in selected.button %}

  {% if data.description %}

      <div class="none">

        <div class="{{ data.type }}">

    <a href="{{ data.url }}">

    {{ data.text }}

    </a>

  </div>

      </div>
{% else %}
  <div class="{{ data.type }}">

    <a href="{{ data.url }}">

    {{ data.text }}

    </a>

  </div>

    {% endif %}

  {% endfor %}

</div>
</div>

</div>
{# ------------- !!! -----------------------------#}
{% else %}

<div class="sticky-wrapper">
<div class="summary__wrap">

{% if summary is not empty %}
{# ####Steps pages #}
  <div class="summary__progress-bar">

    {% for xx in summary %}

      <div class="progress-step">

        <div class="item highlighted-{{ loop.index }}">

          <div class="description">

            {{ xx.value }}

          </div>

          <div class="step-count"></div>

          <div class="step-description"></div>

        </div>

      </div>

    {% endfor %}

    </div>

    {% endif %}

</div>

{# modal with a button #}
{% if selected.children is empty %}

  <div class="summary-wrap">

    <button type="button" class="btn-summary" data-toggle="modal" data-target="#myModal">Show summary

      <div class="btn-summary-arrow"></div>

    </button>

  </div>

{% endif %}

{# modal #}
  <div class="modal fade" id="myModal" role="dialog">

    <div class="modal-dialog">

      {# modal content #}
      <div class="modal-content">

        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal">&times;</button>

          <h4 class="modal-title">Your summary</h4>

        </div>

        <div class="modal-body">

          <div class="summary">

            {% for xx in summary %}

              <div class="summary__row">

                <div class="category"> {{ xx.label|convert_encoding('ISO-8859-1', 'HTML-ENTITIES') }} </div>
                <div class="subtitle"> {{ xx.value|convert_encoding('ISO-8859-1', 'HTML-ENTITIES') }} </div>

              </div>

            {% endfor %}

          </div>

        <div class="modal-footer">

          <button type="button" class="btn btn-default" data-dismiss="modal">Close summary
          <div class="btn-summary-arrow"></div>
          </button>

        </div>

      </div>

    </div>

  </div>

</div>

{# end modal #}
<div class="cerebral-palsy-tool-main step-two">

  <div class="wrapper">

      {% if title %}

        <h2 class="cerebral_palsy-tool__h1"{{ title_attributes.addClass('page-header') }}>HELLO{{ title }}</h2>

      {% else %}

        <h2 class="cerebral_palsy-tool__h1">{{ selected.title }}</h2>

      {% endif %}

    <div class="cerebral-palsy-tool-main__wrapper">

      {% for child in selected.children %}

        <div class="btn-standard">

          <label class="radio">

            <span class="radio__input">

              <input type="radio" class="radio-btn" name="radio" value="{{ child.name }}" data-link="{{ child.alias }}" data-targeting="{{ child.id }}" />

              <span class="radio__control"></span>

            </span>

            <span class="radio__label">{{ child.name }}

              <br>

              <div class="radio__label-descripton">{{  child.description|raw  }}</div>

            </span>

          </label>

        </div>

      {% endfor %}

    </div>

  </div>

</div>


{# Card #}

{% for data in selected.card %}

<div class="cp_content_block__wrapper ">

  {% if data.image is not empty %}

    <img class="cp_content-image" src="{{ data.image }}">

  {% endif %}

  <div class="cp_content-title">

    {{ data.title }}

  </div>

  <div class="cp_content-desc">

    {{ data.description|raw }}

  </div>

</div>
{% endfor %}

{# Conditional Card #}
{% if selected.children is not empty %}

  {% for ccard in selected.children %}

    {% for card in ccard.conditional_card %}

      <div class="conditional-card-descri-main">

        <div class="cp_content_block__wrapper conditional-card-description radio-description-{{ card.id }} ">

          {% if card.image is not empty %}

            <img class="cp_content-image" src="{{ card.image }}">

          {% endif %}

          <div class="cp_content-title">

            {{ card.title }}

          </div>

          <div class="cp_content-desc">

            {{ card.description|raw }}

          </div>

        </div>

      </div>

    {% endfor %}

  {% endfor %}

{% endif %}

{# Continue btn #}
<div class="sticky-fill"></div>
<div class="sticky">
{% if selected.children is not empty %}

  <div class="btn-continue">
    <a>Next</a>
  </div>

{% endif %}
</div>

</div>
{# Button #}
<div class="cp-buttons">

  {% for data in selected.button %}

  <div class="{{ data.type }}">

    {% if data.description is not empty %}

      <div class="desc-text">

        {{ data.description|raw }}

      </div>

    {% endif %}

    <a href="{{ data.url }}">

    {{ data.text }}

    </a>

  </div>

  {% endfor %}

</div>

{% endif %}
