<div id="user-welcome">
    <div class="picture user-picture"></div>
    <div class="name">{{ 'Welcome'|t }} <span>{{ name }}</span> <a href="{{ edit_url }}"><i class="fas fa-pencil-alt"></i></a></div>
    <div class="occupation"><i class="fas fa-user-md"></i> {{ job_type }}</div>
    <div class="location"><i class="fas fa-map-marker"></i> {{ location }}</div>
    <div class="email"><i class="fas fa-envelope"></i> {{ email }}</div>
</div>